.topContainer {
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 157, 164);
    width: 100%;
    height: 23vh;
    min-height: 25vh;
    overflow: hidden;
    box-sizing: border-box;
}

::placeholder {
    color: rgb(189, 189, 189);
}

.filterSort {
    justify-content: right;
    text-align: right;
}

.searchBar {
    border-radius: 5px;
    border: 1px solid;
    font-size: 13px;
}

.containerGrid {
    background-color: rgb(255, 255, 255);
    height: 100%;
    display: grid;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
}