.topContainer {
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    display: inline-block;
    width: 100%;
    height: 23vh;
    min-height: 27vh;
}

::placeholder {
    color: rgb(189, 189, 189);
}

.filterSort {
    justify-content: right;
    text-align: right;
}

.searchBar {
    border-radius: 5px;
    border: 1px solid;
    font-size: 13px;
}

.containerGrid {
    background-color: rgb(247, 218, 218);
    height: 100%;
    display: grid;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
}

