.colors {
    padding-top: 15px;
    color: rgb(255, 255, 255);
}

.colors:hover {
    color: rgb(221, 221, 221);
}

.anotherContainer {
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: rgb(225, 212, 213);
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(156, 111, 116);
}

.productColors {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 15px;
    overflow-x: auto;
    white-space: nowrap;
}

a {
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}