.specific-filter {
    margin-right: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-arrow {
    cursor: pointer;
    color: rgb(209, 157, 164);
    font-weight: 500;
    font-size: 30px;
    text-align: right;
    margin: 0;
}