.Card {
    background-color: rgb(225, 212, 213);
    min-width: 18vw;
    max-width: 15vw;
    max-height: (50%, 40vh);
    transition: 0.3s ease;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    outline-style: solid;
    outline-color: white;
}

.Card:hover {
    box-shadow: 0px 0px 16px 2px rgb(156, 111, 116);
    transition: 0.3s ease;
}

.DetailSection {
    margin: 25px;
}
