@font-face {
  font-family: 'Playwrite';
  src: url('./assets/PlaywriteAUSA-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  color-scheme: light dark;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0 auto;
  text-align: center;
}

body {
  font-family: 'Playwrite', sans-serif;
  margin: 0;
}

button {
  color: white;
  border-radius: 8px;
  border-style: solid;
  border-color: rgb(177, 127, 133);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.10s;
}
button:hover {
  background-color: rgb(156, 111, 116);
}

@media (prefers-color-scheme: light) {
  button {
    width: 100%;
    max-width: 150px;
    background-color: rgb(177, 127, 133);
  }
}